In [2]:
# CHALLENGE 1
import requests
import json
import pandas as pd

In [6]:
token =  ""
response = requests.get('https://api.github.com/repos/ironhack-datalabs/datalis0819/forks', auth = ('Angelillo8', 'token'))
result = response.json()
result = pd.DataFrame(result)
result

,id,node_id,name,full_name,private,owner,html_url,description,fork,url,...,forks_count,mirror_url,archived,disabled,open_issues_count,license,forks,open_issues,watchers,default_branch
0,259088458,MDEwOlJlcG9zaXRvcnkyNTkwODg0NTg=,datalis0819,edxz7/datalis0819,False,"{'login': 'edxz7', 'id': 22061025, 'node_id': ...",https://github.com/edxz7/datalis0819,"Data Analytics Full Time Lisbon, August 2019",True,https://api.github.com/repos/edxz7/datalis0819,...,0,None,False,False,0,"{'key': 'agpl-3.0', 'name': 'GNU Affero Genera...",0,0,0,master
1,219552641,MDEwOlJlcG9zaXRvcnkyMTk1NTI2NDE=,datalis0819,Mariana427/datalis0819,False,"{'login': 'Mariana427', 'id': 54869432, 'node_...",https://github.com/Mariana427/datalis0819,"Data Analytics Full Time Lisbon, August 2019",True,https://api.github.com/repos/Mariana427/datali...,...,0,None,False,False,0,"{'key': 'agpl-3.0', 'name': 'GNU Affero Genera...",0,0,0,master
2,219547548,MDEwOlJlcG9zaXRvcnkyMTk1NDc1NDg=,datalis0819,EvelienDonkers/datalis0819,False,"{'login': 'EvelienDonkers', 'id': 55210096, 'n...",https://github.com/EvelienDonkers/datalis0819,"Data Analytics Full Time Lisbon, August 2019",True,https://api.github.com/repos/EvelienDonkers/da...,...,0,None,False,False,0,"{'key': 'agpl-3.0', 'name': 'GNU Affero Genera...",0,0,0,master
3,206122694,MDEwOlJlcG9zaXRvcnkyMDYxMjI2OTQ=,datalis0819,ta-data-lis/datalis0819,False,"{'login': 'ta-data-lis', 'id': 54109907, 'node...",https://github.com/ta-data-lis/datalis0819,"Data Analytics Full Time Lisbon, August 2019",True,https://api.github.com/repos/ta-data-lis/datal...,...,0,None,False,False,0,"{'key': 'agpl-3.0', 'name': 'GNU Affero Genera...",0,0,0,master
4,201974388,MDEwOlJlcG9zaXRvcnkyMDE5NzQzODg=,datalis0819,filipamiralopes/datalis0819,False,"{'login': 'filipamiralopes', 'id': 42877871, '...",https://github.com/filipamiralopes/datalis0819,"Data Analytics Full Time Lisbon, August 2019",True,https://api.github.com/repos/filipamiralopes/d...,...,0,None,False,False,0,"{'key': 'agpl-3.0', 'name': 'GNU Affero Genera...",0,0,0,master
5,201961477,MDEwOlJlcG9zaXRvcnkyMDE5NjE0Nzc=,datalis0819,janpotthoff/datalis0819,False,"{'login': 'janpotthoff', 'id': 53485922, 'node...",https://github.com/janpotthoff/datalis0819,"Data Analytics Full Time Lisbon, August 2019",True,https://api.github.com/repos/janpotthoff/datal...,...,0,None,False,False,0,"{'key': 'agpl-3.0', 'name': 'GNU Affero Genera...",0,0,0,master
6,201956190,MDEwOlJlcG9zaXRvcnkyMDE5NTYxOTA=,datalis0819,sofia-sousa/datalis0819,False,"{'login': 'sofia-sousa', 'id': 53151504, 'node...",https://github.com/sofia-sousa/datalis0819,"Data Analytics Full Time Lisbon, August 2019",True,https://api.github.com/repos/sofia-sousa/datal...,...,0,None,False,False,0,"{'key': 'agpl-3.0', 'name': 'GNU Affero Genera...",0,0,0,master
7,201956175,MDEwOlJlcG9zaXRvcnkyMDE5NTYxNzU=,datalis0819,naivm/datalis0819,False,"{'login': 'naivm', 'id': 36080596, 'node_id': ...",https://github.com/naivm/datalis0819,"Data Analytics Full Time Lisbon, August 2019",True,https://api.github.com/repos/naivm/datalis0819,...,0,None,False,False,0,"{'key': 'agpl-3.0', 'name': 'GNU Affero Genera...",0,0,0,master
8,201956108,MDEwOlJlcG9zaXRvcnkyMDE5NTYxMDg=,datalis0819,LindaRit/datalis0819,False,"{'login': 'LindaRit', 'id': 53478068, 'node_id...",https://github.com/LindaRit/datalis0819,"Data Analytics Full Time Lisbon, August 2019",True,https://api.github.com/repos/LindaRit/datalis0819,...,0,None,False,False,0,"{'key': 'agpl-3.0', 'name': 'GNU Affero Genera...",0,0,0,master
9,201956049,MDEwOlJlcG9zaXRvcnkyMDE5NTYwNDk=,datalis0819,Ana-Andre/datalis0819,False,"{'login': 'Ana-Andre', 'id': 49027138, 'node_i...",https://github.com/Ana-Andre/datalis0819,"Data Analytics Full Time Lisbon, August 2019",True,https://api.github.com/repos/Ana-Andre/datalis...,...,0,None,False,False,0,"{'key': 'agpl-3.0', 'name': 'GNU Affero Genera...",0,0,0,master
10,199482969,MDEwOlJlcG9zaXRvcnkxOTk0ODI5Njk=,data2,alonasorochynska/data2,False,"{'login': 'alonasorochynska', 'id': 52972681, ...",https://github.com/alonasorochynska/data2,"Data Analytics Full Time Lisbon, August 2019",True,https://api.github.com/repos/alonasorochynska/...,...,0,None,False,False,0,"{'key': 'agpl-3.0', 'name': 'GNU Affero Genera...",0,0,0,master
11,198705694,MDEwOlJlcG9zaXRvcnkxOTg3MDU2OTQ=,datalis0819,carlarsmendes/datalis0819,False,"{'login': 'carlarsmendes', 'id': 38359702, 'no...",https://github.com/carlarsmendes/datalis0819,"Data Analytics Full Time Lisbon, August 2019",True,https://api.github.com/repos/carlarsmendes/dat...,...,0,None,False,False,0,"{'key': 'agpl-3.0', 'name': 'GNU Affero Genera...",0,0,0,master

In [7]:
languages = set(result["language"])
languages = list(languages)
languages

['Jupyter Notebook', None]

In [17]:
# CHALLENGE 2
response = requests.get('https://api.github.com/repos/ta-data-lis/lab-mysql-first-queries/stats/commit_activity', auth=('Angelillo8', 'token'))
result = response.json()
result = pd.DataFrame(result)
result

    total        week                   days
0       0  1578787200  [0, 0, 0, 0, 0, 0, 0]
1       0  1579392000  [0, 0, 0, 0, 0, 0, 0]
2       0  1579996800  [0, 0, 0, 0, 0, 0, 0]
3       0  1580601600  [0, 0, 0, 0, 0, 0, 0]
4       0  1581206400  [0, 0, 0, 0, 0, 0, 0]
5       0  1581811200  [0, 0, 0, 0, 0, 0, 0]
6       0  1582416000  [0, 0, 0, 0, 0, 0, 0]
7       0  1583020800  [0, 0, 0, 0, 0, 0, 0]
8       0  1583625600  [0, 0, 0, 0, 0, 0, 0]
9       0  1584230400  [0, 0, 0, 0, 0, 0, 0]
10      0  1584835200  [0, 0, 0, 0, 0, 0, 0]
11      0  1585440000  [0, 0, 0, 0, 0, 0, 0]
12      0  1586044800  [0, 0, 0, 0, 0, 0, 0]
13      0  1586649600  [0, 0, 0, 0, 0, 0, 0]
14      0  1587254400  [0, 0, 0, 0, 0, 0, 0]
15      0  1587859200  [0, 0, 0, 0, 0, 0, 0]
16      0  1588464000  [0, 0, 0, 0, 0, 0, 0]
17      0  1589068800  [0, 0, 0, 0, 0, 0, 0]
18      0  1589673600  [0, 0, 0, 0, 0, 0, 0]
19      0  1590278400  [0, 0, 0, 0, 0, 0, 0]
20      0  1590883200  [0, 0, 0, 0, 0, 0, 0]
21      0  1591488000  [0, 0, 0, 0, 0, 0, 0]
22      0  1592092800  [0, 0, 0, 0, 0, 0, 0]
23      0  1592697600  [0, 0, 0, 0, 0, 0, 0]
24      0  1593302400  [0, 0, 0, 0, 0, 0, 0]
25      0  1593907200  [0, 0, 0, 0, 0, 0, 0]
26      0  1594512000  [0, 0, 0, 0, 0, 0, 0]
27      0  1595116800  [0, 0, 0, 0, 0, 0, 0]
28      0  1595721600  [0, 0, 0, 0, 0, 0, 0]
29      0  1596326400  [0, 0, 0, 0, 0, 0, 0]
30      0  1596931200  [0, 0, 0, 0, 0, 0, 0]
31      0  1597536000  [0, 0, 0, 0, 0, 0, 0]
32      0  1598140800  [0, 0, 0, 0, 0, 0, 0]
33      0  1598745600  [0, 0, 0, 0, 0, 0, 0]
34      0  1599350400  [0, 0, 0, 0, 0, 0, 0]
35      0  1599955200  [0, 0, 0, 0, 0, 0, 0]
36      0  1600560000  [0, 0, 0, 0, 0, 0, 0]
37      0  1601164800  [0, 0, 0, 0, 0, 0, 0]
38      0  1601769600  [0, 0, 0, 0, 0, 0, 0]
39      0  1602374400  [0, 0, 0, 0, 0, 0, 0]
40      0  1602979200  [0, 0, 0, 0, 0, 0, 0]
41      0  1603584000  [0, 0, 0, 0, 0, 0, 0]
42      0  1604188800  [0, 0, 0, 0, 0, 0, 0]
43      0  1604793600  [0, 0, 0, 0, 0, 0, 0]
44      0  1605398400  [0, 0, 0, 0, 0, 0, 0]
45      0  1606003200  [0, 0, 0, 0, 0, 0, 0]
46      0  1606608000  [0, 0, 0, 0, 0, 0, 0]
47      0  1607212800  [0, 0, 0, 0, 0, 0, 0]
48      0  1607817600  [0, 0, 0, 0, 0, 0, 0]
49      0  1608422400  [0, 0, 0, 0, 0, 0, 0]
50      0  1609027200  [0, 0, 0, 0, 0, 0, 0]
51      0  1609632000  [0, 0, 0, 0, 0, 0, 0]

In [19]:
commits = pd.json_normalize(response.json())
commits

    total        week                   days
0       0  1578787200  [0, 0, 0, 0, 0, 0, 0]
1       0  1579392000  [0, 0, 0, 0, 0, 0, 0]
2       0  1579996800  [0, 0, 0, 0, 0, 0, 0]
3       0  1580601600  [0, 0, 0, 0, 0, 0, 0]
4       0  1581206400  [0, 0, 0, 0, 0, 0, 0]
5       0  1581811200  [0, 0, 0, 0, 0, 0, 0]
6       0  1582416000  [0, 0, 0, 0, 0, 0, 0]
7       0  1583020800  [0, 0, 0, 0, 0, 0, 0]
8       0  1583625600  [0, 0, 0, 0, 0, 0, 0]
9       0  1584230400  [0, 0, 0, 0, 0, 0, 0]
10      0  1584835200  [0, 0, 0, 0, 0, 0, 0]
11      0  1585440000  [0, 0, 0, 0, 0, 0, 0]
12      0  1586044800  [0, 0, 0, 0, 0, 0, 0]
13      0  1586649600  [0, 0, 0, 0, 0, 0, 0]
14      0  1587254400  [0, 0, 0, 0, 0, 0, 0]
15      0  1587859200  [0, 0, 0, 0, 0, 0, 0]
16      0  1588464000  [0, 0, 0, 0, 0, 0, 0]
17      0  1589068800  [0, 0, 0, 0, 0, 0, 0]
18      0  1589673600  [0, 0, 0, 0, 0, 0, 0]
19      0  1590278400  [0, 0, 0, 0, 0, 0, 0]
20      0  1590883200  [0, 0, 0, 0, 0, 0, 0]
21      0  1591488000  [0, 0, 0, 0, 0, 0, 0]
22      0  1592092800  [0, 0, 0, 0, 0, 0, 0]
23      0  1592697600  [0, 0, 0, 0, 0, 0, 0]
24      0  1593302400  [0, 0, 0, 0, 0, 0, 0]
25      0  1593907200  [0, 0, 0, 0, 0, 0, 0]
26      0  1594512000  [0, 0, 0, 0, 0, 0, 0]
27      0  1595116800  [0, 0, 0, 0, 0, 0, 0]
28      0  1595721600  [0, 0, 0, 0, 0, 0, 0]
29      0  1596326400  [0, 0, 0, 0, 0, 0, 0]
30      0  1596931200  [0, 0, 0, 0, 0, 0, 0]
31      0  1597536000  [0, 0, 0, 0, 0, 0, 0]
32      0  1598140800  [0, 0, 0, 0, 0, 0, 0]
33      0  1598745600  [0, 0, 0, 0, 0, 0, 0]
34      0  1599350400  [0, 0, 0, 0, 0, 0, 0]
35      0  1599955200  [0, 0, 0, 0, 0, 0, 0]
36      0  1600560000  [0, 0, 0, 0, 0, 0, 0]
37      0  1601164800  [0, 0, 0, 0, 0, 0, 0]
38      0  1601769600  [0, 0, 0, 0, 0, 0, 0]
39      0  1602374400  [0, 0, 0, 0, 0, 0, 0]
40      0  1602979200  [0, 0, 0, 0, 0, 0, 0]
41      0  1603584000  [0, 0, 0, 0, 0, 0, 0]
42      0  1604188800  [0, 0, 0, 0, 0, 0, 0]
43      0  1604793600  [0, 0, 0, 0, 0, 0, 0]
44      0  1605398400  [0, 0, 0, 0, 0, 0, 0]
45      0  1606003200  [0, 0, 0, 0, 0, 0, 0]
46      0  1606608000  [0, 0, 0, 0, 0, 0, 0]
47      0  1607212800  [0, 0, 0, 0, 0, 0, 0]
48      0  1607817600  [0, 0, 0, 0, 0, 0, 0]
49      0  1608422400  [0, 0, 0, 0, 0, 0, 0]
50      0  1609027200  [0, 0, 0, 0, 0, 0, 0]
51      0  1609632000  [0, 0, 0, 0, 0, 0, 0]